<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit profile</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/b99b726463.js" crossorigin="anonymous"></script>
</head>

<body class="bg-red-500">
  <div>
    <div class="grid m-auto max-w-max">
      <div>
        <div class="pt-4 px-4">
          <h3 class="text-lg font-medium italic leading-6 text-white" th:text="${message}">
        </div>
      </div>
      <div class="block">
        <div class="py-5">
          <div class="border-t border-gray-200"></div>
        </div>
      </div>
    </div>
  </div>
</body>