<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>TicTacToe Game Room</title>
    <link rel="stylesheet" href="/rooms.css" />
</head>
<body>
<div class="container">
    <h1>Game Room</h1>
    <div id="roomButton">
        <a href="/#">Home</a>
        <a href="create/">Create Room</a>
    </div>
    <div id="searchWrapper">
        <input
                type="text"
                name="searchBar"
                id="searchBar"
                placeholder="search for a room"
        />
    </div>
    <ul id="roomsList"></ul>
</div>
<script src="/rooms.js"></script>
</body>
</html>
